<div class="container">

<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onadditem(f)" #f="ngForm">
      <div class="container">
      <div class="row">
        <div class=" col-xs-12 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" 
          name ="name" ngModel required>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class=" col-xs-12 form-group">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editmode ? 'Update' : 'Add'}}</button>
          <button class="btn btn-danger" (click)="ondelete()" *ngIf="editmode" type="button">Delete</button>
          <button class="btn btn-primary" (click)="onclear()" type="button">Clear</button>
        </div>
      </div>
      </div>
    </form>
  </div>
</div>
</div>
