<div class="row">
    <div class="col-xs-12">
      <img [src]="xyz.image" alt="" class="img-responsive" style="max-height:350px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>{{ xyz.name }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown #r="appDropDown">
        <button
        type="button" 
        class="btn btn-primary dropdown-toggle">
        Manage Location<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" [ngClass]="{'show':r.isOpen}">
      <li><a (click)="onaddplacelist()" style="cursor: pointer;">add Location to ts</a></li>
      <li><a (click)="oneditlist()"style="cursor: pointer;">edit Location</a></li>
      <li><a (click)="ondeletelist()" style="cursor: pointer;">delete Location</a></li>
      </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ xyz.discription }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item"
        *ngFor = "let placess of xyz.place">
        {{ placess.name }}
      </li>
      </ul>
    </div>
  </div>