<div class="row">
    <div class="col-xs-12">
      <img src="" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Location</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button
        type="button" 
        class="btn btn-primary dropdown-toggle">
        Manage Location<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
      <li><a href="#">add Location</a></li>
      <li><a href="#">edit Location</a></li>
      <li><a href="#">delete Location</a></li>
      </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      discription
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      moments
    </div>
  </div>